<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-center items-center">
    <h1 class=" font-bold text-4xl text-center">Welcome to League of Cards !</h1><br>
  </div>
  <h2 class=" text-4xl text-center">Create your deck by creating and custom your cards!</h2><br>
  <h2 class=" text-4xl text-center">Start !</h2>
  <% if !current_player.present? %>
    <div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
        <%= link_to "Connexion", new_player_session_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to "Inscription", new_player_registration_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  <% end %>

</div>
